nav a{
  border: 1px solid purple;
  background-color: mediumpurple;
  padding: 3px 20px 3px 20px;
  float: left;
  color: white;
}

article {
  width: 60%;
}

section {
  width; 20%;
}

body {
  /* change my background, and set global font family. */
    color: lightgray;
    font-family: sans-serif;
}

header h1 {
  /* Make bigger and color, change our font family to a sans sarif */
    color: purple;
    font-family: sans-serif; 
    font-size: 2em;
    padding: 15px 350px 
}

.main-nav {
  /* Change background color, *remove bullets, border on each individual nav element, float the links, center our content within the links. width on links, font color, font family */
 
}

aside {
  /*background, color, float */
    float: left;
    padding: 150px 10px;
    text-decoration: none;
}

aside ul {
  /* clear both */
}

article {
 /* background-color, float to the right?. */
    padding: 150px 500px
}

figure {
/* figure, we want to center using margin:auto */
}

footer {
  /* images float left and centered on the page */
    padding: 100px 400px;
    float: left;
}
